@media screen and (max-width: 991px) {
    .fixed-top {
		display: flex;
		justify-content: space-between;
		background: #f72210;
	}
	
	.logoimg {
		width: 132px;
		height: 20px;
		left: 100px;
		top: 10px;
	}
	
	.fa-bars {
		color: #fff;
	}
	
	#navscroll {
		padding: 3px 0;
		margin-right: 2%;
	}
	
	#datenav {
		display: none;
	}
	
	#signin {
		font-size: 14px;
		bottom: 0px;
	}
	
	#signin a {
		padding: 6px;
	}
	
	.fa-chevron-right {
		display: none !important;
	}
	
	.header-bottom {
		display: none;
	}
	
	#right-col {
		margin: auto;
	}
	
	.content {
		padding-top: 40px;
	}
}
